*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right,#f9c449,#e8a4c9);
    padding: 0 !important;
}
.navbar-brand img{
    height: 30px;
    padding-left:20px;

}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-toggler-icon{
    color: #fff;
    font-size: 15px !important;
}
.navbar-toggler{
    outline: none !important;
}

/*banner*/
#Banner{
    background-image: linear-gradient(to right,#f9c449,#e8a4c9);
    color: #fff;
    padding-top: 5%;
     
}
.col-md-8{
 color: gray;
}