* {
  box-sizing: border-box;
}
@font-face {
    font-family: Gotham-Font;
    src:local("C:\Users\ryana\OneDrive\Desktop\Cloned Repository\Hotel-Website\Gotham-Font");
}
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #303030;
    --purple-transparent: rgba(50, 10, 70, .7);
    --purple-transparent-alt: rgba(50, 10, 75, .5);
    --purple-light: #8f50fb;
    --transparent-black:rgba(0, 0, 0, .5);
    --transparent-darkblue:rgba(32, 64, 81,0.8);
    --darkblue:rgba(32, 64, 81);
} 
.active:active{
    border-radius: 5px;
    transition-duration: 0s;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 15px 30px;
}

.header a {
  
  color: #e3e3e3;
  text-align: center;
  padding: 45px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 25px;
  border-radius: 4px;
} 
.header a:hover {
 
  color: #cca42f;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
    

    
/* Basic */

    @-ms-viewport {
        width: device-width;
    }

    body {
        -ms-overflow-style: scrollbar;
    }

    @media screen and (max-width: 480px) {

        html, body {
            max-width: device-width;
        }

    }

    body {
        background: #404040;

    }

    
/* Type */

    body {
        
        color: #d6d6d6;
        margin: 0;
    }  
    h5 {
        font-size: 3.5em;
        line-height: 1.5em;
        margin-bottom: 1rem;
        text-align: center;
        font-family: Palatino;
        text-shadow: 2px 5px 3px #000000;
        color: #cca42f;

    }
    h6 {
        font-size: 3.5em;
        line-height: 0em;
        margin-bottom: 5rem;
        text-align: center;
        font-family: Palatino;
        text-shadow: 2px 5px 3px #000000;
        color: #cca42f;

    }  
/* Main */

    #main {
        padding: 4em 0 2em 0;
    }

        @media screen and (max-width: 736px) {

            #main {
                padding: 3em 0 1em 0;
            }

        } 
.header{
    width: 100%;
    height: 2rem;
    display: flex;
    font-family: Arial;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color:var( --darkblue);
    z-index: 999;
    transition: all 0.65s;
}
.header.active{
    background-color: var(--transparent-darkblue);
}
/*Header styles-nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu{
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;


}
.hamburger-menu:hover {
 
  color: #cca42f;
}

.hamburger-menu .fa-times{
    display: none;
}
.menu-open .hamburger-menu .fa-times{
display: block;
}
.menu-open .hamburger-menu .fa-bars{

display: none;
}

.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple-solid);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    list-style: none;
    transition: opacity .5s; 
}
.menu-open .nav-list{  
    opacity: .97;
    transform: scale(1);
}
.nav-item:not(last-child){

    margin-bottom: .5rem;
}
.nav-link{
    display: block;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1px;
    padding: 1rem;
}
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.dots{
    font-size: 2.5rem;
    margin-left: .5rem;
    opacity: .80;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}               
/*media*/
@media screen and (min-width:1080px){
 section{
        padding: 20rem 10rem;
    }
.hamburger-menu{
    display: none;
}
.nav-list{
    position: relative;
    width: initial;
    height: initial;
    background-color: transparent;
    flex-direction: row;
    justify-content: initial;
    opacity: 1;
    transform:scale(1);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1px;
    padding: 0rem 0rem;
}
.nav-item:not(last-child)
{
    margin-bottom: 0;
}
.nav-link{
    font-size: 1px;
    font-size: normal;
}
.heading{
    font-size: 12rem;
}
.subtitle{
    font-size: 5rem
}
.paragraph{
    color: #b0a06c;
    margin-bottom: 2.5rem;
  }
  /*Footer Styling*/
.footer{

    width: device-width;
    height: 20rem;
    padding :2rem 0;
    background-color: #2e2e2e;
    margin-top: 130px;
} 

.footer .paragraph{
color: #fff;
text-align: center;
font-family: Arial;
}

.footer-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: #fff;
}
.socail-media{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.sm-link{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: background color .5s;

}
.sm-link {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.sm-link:hover,
.sm-link:focus,
.sm-link:active {
    transform: scale(1.1);
    color: #cca42f;
}               
.sm-link{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm-link i
{
    margin:auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-center
{
    color: #c4c4c4;
    text-align: center;
}
.logo{
display: flex;
justify-content: center;
align-items: center;

}
.logo img {
max-width: 80%;
height: 60px;
}
@media screen and (min-width:780px){
    .header{
        height:3rem;
    }
    .header .active{
        height: 6rem;
    }
    /*Hero section styling*/
    .title{
        font-size: 8rem;   
    } 
   
    .footer-content-brand{
        margin-bottom: 0;
        
    }
    .footer .paragraph {
        margin-top: 2.5rem;
    }
    .footer-heading{

        margin-bottom: 2rem;
    }
    
    .btn-white
    {
        background:#fff;
        color:#000;
        border-radius:25px;
        border:solid 2px #b7b7b7;
        overflow:hidden;
        font-size:1.4310rem;
        font-weight:400;
        padding:0.75rem 1rem 0.75rem 1.5rem;
        display: inline-block;
        vertical-align: middle; 
        transition:all 0.4s ease 0s;
        text-transform:uppercase;
        letter-spacing:2px;
        text-align:left;
        position:relative;
    }
    .btn-white:hover
    {
        background:#cca42f;color:#fff;border:solid 1px ;
        /*box-shadow: 1px 3px 8px 0px #3d3d3d;*/
    }
    .btn-view
    {
        background:#9c9c9c;
        color:#000;
        border-radius: 5px;
        border:solid 2px #b7b7b7;
        overflow:hidden;
        font-size:1.4310rem;
        font-weight:400;
        padding:0.75rem 2rem 0.75rem 2rem;
        display: inline-block;
        vertical-align: middle; 
        transition:all 0.4s ease 0s;
        text-transform:uppercase;
        letter-spacing:2px;
        text-align:left;
        position:relative;
        box-shadow: 1px 3px 10px 5px #3d3d3d;
    }
    .btn-view:hover
    {
        background:#cca42f;color:#fff;border:solid 1px ;
        box-shadow: 1px 3px 10px 5px #3d3d3d;
    } 
    span.btn{
        position: relative;
        margin-top: 50px;
        margin-bottom: -120px;
    } 
    
}
.heading-rooms{
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.sub-heading{
    color: ;
     display: block;
    font-size: 2.4rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}
.grid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
} 
.grid-hover {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}

.grid-hover:hover,
.grid-hover:focus,
.grid-hover:active {
    transform: scale(1.005);
}           
.rating{
    color: orange;
}
.paragraph{
    color: #b0a06c;
    margin-bottom: 1.5rem;
}
.rooms{
    
    padding-top: 0em;
} 
.main{
    margin-bottom: 1rem;
}



.room-image{
 width: 90%;
 height:68%;   
 object-fit:cover;
 box-shadow: 1px 1px 5px 0px #3d3d3d;
 text-align: center;
 margin-left: 10px;
}
.room-name{
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: Gotham;

}
.room-price{
    display: block;
    font-size: 1.6rem;
    text-align: left;
    font-weight: bold;
    font-family: 'Courgette';
    color: #404040;
}
.per-night{
    font-size: 1.7rem;
    text-align: left;
}
/*Global Styles*/
.lux{
    font-size: 10px;

    font-family: "Open Sans", sans serif;
    font-size: 1.7rem;
    color: var(--dark-color);
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: transparent;
  color: #fff;
  cursor: pointer; 
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  
}

/* Style the collapsible content*/
.content { 
    display: none;
    background-color: transparent;
    width: device-width;
    margin-bottom: -20%;
  

}
.collapsiblee {
  background-color: transparent;
  color: #fff;
  cursor: pointer; 
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  
}

/* Style the collapsible content*/
.contentt { 
    display: none;
    background-color: transparent;
    width: device-width;
    margin-bottom: -20%;
  

}

.bottom-line {
    display: grid;
}
.bottom-line p {
    grid-column: 2;
    justify-content: center;
}
.bottom-line {
    background-color: #444554;
}
.bottom-line a {
    color: #fff;
}
ul{
  color: #999999;
  font-family: Microsoft Sans Serif;
}
table{
  margin-left: 1%;
  margin-right: 1%; 
  border-spacing: 40px;


}
.tablee{
  margin-left: -1%;
  margin-right: -1%; 
  border-spacing: 40px;


}


td{
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 1px;
  background-color: #878787;
  border:solid 1px #6e6e6e;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);

}
td:hover
{
    background-color: #808080;
    box-shadow: 0px 5px 9px #474747;
} 
.inline:hover
{
    transform: translateY(-0.2em);
    transition: transform 0.2s;           
    will-change: transform;
} 
a{
    text-decoration: none;
    color: inherit;
}   
ul{
    list-style: none;
}
section{
    padding: 5rem;
}
    /*Making Website responsive*/

@media screen and (min-width:1080px){
 section{
        padding: 10rem 0;
 }